<% include chunks/header %>
    
<!-- Table -->
<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Views</th>
        <th>Owner</th>
        <th></th>
    </tr>
    
    <!-- Row data -->
    <% video_list.forEach(function(history) { %>
        <tr>
            <td><a href="<%=history.url%>"><%= history.title %></a></td>
            <td><%= history.timestamp %></td>
            <td><%= history.view_count %></td>
            <td><%= history.owner %></td>
            <td><%= delete function %></td>
        </tr>
    <% }); %>
</table>

<% include chunks/footer %>