<% include chunks/header %>
<script></script>
<div class="mainbody">
    <div id="main_video_frame">
        <h1><%= video.title %></h1> 
        <iframe id="primary_video" src="<%= video.url %>" frameborder="0" allowfullscreen></iframe>
        <div id="category_bar">
            <ul>
                <% categories.forEach(function(category) { %>
                    <li> <a href="<%='/watch/'+category%>"><%= category %></a></li>
                <% });%>                
            </ul>
        </div>
    </div>
    <div id="next_videos">
        <% if (next_vid1.bad !== 'bad') { %>
            <a href="<%='/next/'+next_vid1._id %>"><img id="second_video_small" src="/video_image_example.png"></a>
        <% } else { %>
            <img id="second_video_small" src="/video_image_example.png">
        <% } if (next_vid1.bad !== 'bad') { %>
            <a href="<%='/next/'+next_vid2._id %>"><img id="third_video_small" src="/video_image_example.png"></a>
        <% } else { %>
            <img id="second_video_small" src="/video_image_example.png">
        <% } %>
    </div>
</div>

<% include chunks/footer %>