<% include chunks/header %>

<div class="mainbody">
    <div id="chat">
        <section id=messages>
             <% inbox.forEach(function(message) { %>
             <section id=messagebox>
                <h3><%= message.sender %> "<%= message.subject %>" <%= message.timestamp.getMonth()+1%>/<%= message.timestamp.getDate()%>/<%= message.timestamp.getFullYear()%>
                <%= message.timestamp.getHours()%>:<%= message.timestamp.getMinutes()%> </h2>
            
                <p><%= message.body %></p>
             </section>
             <% }); %>
        </section>
        <section id=sendmessage>
            <form id="sendform" method="post" action="/inboxpost">
                <fieldset id="reply_form">
                    <input id="recipient" type="text" name="recipient" placeholder="Recipient" required>
                    <input id="subject" type="text" name="subject" placeholder="Subject" required>
                    <textarea id="body" type="text" name="body" placeholder="Send a reply..." required></textarea>
                    <input id="submit_message" type="submit">
                </fieldset>
            </form>
        </section>
    </div>
</div>

<% include chunks/footer %>
