<% include chunks/header %>
<% if (username) { %>

<div class="mainbody">
    <h1>Manage Account</h1>
    <form method="post" action="/manageaccount">
        
        <!-- Change the user's promoted video: show them all
        of their posted videos and have them select one -->
        <fieldset>
            <legend>Change Promoted Video</legend>
            <% videos.forEach(function(video) { %>
                <input type="radio" name="promoted_video" value="title"><%=video.title%><br>
            <% }); %>
            
        </fieldset>
        
        <!-- Change the user's profile picture -->
        <fieldset>
            <legend>Change Profile Picture</legend>
            <label for="new_picture">New Profile Picture</label>
            <input id="new_picture" type="file" name="profile_pic"/>
        </fieldset>
        
        <!-- Change the user's email -->
        <fieldset>
            <legend>Update Email</legend>
            <input id="new_email" type="text" name="new_email" placeholder="<%=user.email%>">
        </fieldset>
        
        <!-- Add a new video to the user's videos-->
        <fieldset>
            <legend>Add a New Video to Your Account</legend>
            <input id="video_url" type="text" name="video_url" placeholder="Video URL">
            <input id="video_category" type="" name="password" placeholder="Category">                
            <input id="video_title" type="text" name="video_title" placeholder="Video Title">
            <input id="video_length" type="text" name="video_length" placeholder="Video Length">
                
            <select id="category" name="category">
                <option value="art">art</option>
                <option value="comedy">comedy</option>
                <option value="music">music</option>
                <option value="sports">sports</option>
                <option value="educational">educational</option>
                <option value="films">films</option>
                <option value="technology">technology</option>
            </select>
            
            <label for="thumbnail">Video Thumbnail</label>
            <input id="thumbnail" type="file" name="thumbnail"/>
        </fieldset>
        
        <!-- Edit all posts-->
        <fieldset>
            <legend>Edit a Post</legend>
            <table>
                <!-- Get and display the user's posts in a table of editable text boxes-->
                <th></th>
                    <tr>
                        <td><b>Subject</b></td>
                        <td><b>Body</b></td>
                        <td><b>Time</b></td>
                    </tr>
                <% posts.forEach(function(post) { %>
                    <tr>
                        <td><textarea id="post_subject" name="post_subject" placeholder="<%=post.subject%>"></textarea></td>
                        <td><textarea id="post_body" name="post_bio" placeholder="<%=post.body%>"></textarea></td>
                        <td><%= post.timestamp %></td>
                    </tr>
                <% }); %>
            </table>
        </fieldset>
        
        <!-- Edit the user's bio -->
        <fieldset>
            <legend>Edit Bio</legend>
            <textarea id="new_bio" name="new_bio" placeholder="<%=user.bio%>"></textarea>
        </fieldset>
        
        
        <!--
        <fieldset>
            <legend>Change Password</legend>
            <input id="username" type="text" name="username" placeholder="User Name" required>
            <input id="password" type="password" name="password" placeholder="Password" required>                
            <input id="new_password" type="text" name="new_password" placeholder="New Password" required>
        </fieldset>
        -->
        
        <div class="manageaccount_submit">
            <input id="manageaccount_submit" type="submit">
        </div>
    </form>
</div>

<% } %>

<% include chunks/footer %>