<% include chunks/header %>
<!--This section is for the promoted video, bio, and picture  -->
<body class="mainbody">
    
    <!-- Display the user's profile picture -->
    <div class="picture">
        <p><%=user.picture%></p>
    </div>
    
    <!-- Display the user's bio -->
    <div class="bio">
        <p><%=user.bio%></p>
    </div>
    
    <!-- Display the user's promoted video in a ready to watch video pane -->
    <div class="promoted_video">
        <p><a href=“/item/<%= item._id %>”><%= item.title %></a></p>
    </div>
    
    <!-- Display a form to make a new post and the user's post history -->
    <div class="posts">
        
        <!-- Form for user to fill out that make a new post -->
        <h3>New Post</h3>
            <form method="post" action="/">
                <fieldset>
                    <input id="subject" type="text" name="Subject" placeholder="Subject">
                    <input id="body" type="text" name="Body" placeholder="Body">                
                </fieldset>
                <% if (error) { %>
                    <p id="error"><%= error %></p>
                <% } %>
                <div class="submit">
                    <input id="post_submit" type="Submit">
                </div>
            </form>
            
        <!-- Get and display the user's posts in a table-->
        <table>
            <% posts.forEach(function(post) { %>
                <tr>
                    <td><a href=“/item/<%= item._id %>”><%= item.title %></a></td>
                </tr>
            <% }); %>
        </table>
        
    </div>
    
</body>

<% include chunks/footer %>